# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Web build files (when deployed to root)
/main.dart.js
/flutter_service_worker.js
/flutter.js
/flutter_bootstrap.js
/version.json
/.last_build_id
/canvaskit/
/assets/AssetManifest.*
/assets/FontManifest.json
/assets/NOTICES
/assets/packages/
/assets/shaders/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release 